# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# VSCode and Jupyter
.vscode/
.ipynb_checkpoints/

# Logs and local caches
*.log
*.sqlite3
*.db
*.pid
*.swp
.cache/
*.mypy_cache/

# macOS files
.DS_Store

# Streamlit
.streamlit/config.toml

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
